
<div class="card" style="width:400px" id="<%= dom_id newspaper %>">
  <!--img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"-->
  <div class="card-body">
   <% if newspaper.tipo == 1  %>
    <%= image_tag ("01deportes.jpg") %>
    <h4 class="card-title"> <% newspaper.tipo %>  <%= newspaper.encabezado %></h4>
    <p class="card-text"><%= newspaper.cuerpo %></p>
    <a href="#" class="btn btn-primary">   <%= newspaper.link %></a>
   <% end %>
  </div> 
</div>
 
 <div class="card" style="width:400px" id="<%= dom_id newspaper %>">
  <!--img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"-->
  <div class="card-body">
   <% if newspaper.tipo == 2  %>
    <%= image_tag ("02farandula.jpg") %>
    <h4 class="card-title"> <% newspaper.tipo %>  <%= newspaper.encabezado %></h4>
    <p class="card-text"><%= newspaper.cuerpo %></p>
    <a href="#" class="btn btn-primary">   <%= newspaper.link %></a>
   <% end %>
  </div> 
</div>

<div class="card" style="width:400px" id="<%= dom_id newspaper %>">
  <!--img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"-->
  <div class="card-body">
   <% if newspaper.tipo == 3  %>
    <%= image_tag ("03nacional.jpg") %>
    <h4 class="card-title"> <% newspaper.tipo %>  <%= newspaper.encabezado %></h4>
    <p class="card-text"><%= newspaper.cuerpo %></p>
    <a href="#" class="btn btn-primary">   <%= newspaper.link %></a>
   <% end %>
  </div> 
</div>

<div class="card" style="width:400px" id="<%= dom_id newspaper %>">
  <!--img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"-->
  <div class="card-body">
   <% if newspaper.tipo == 4  %>
    <%= image_tag ("04internacional.jpg") %>
    <h4 class="card-title"> <% newspaper.tipo %>  <%= newspaper.encabezado %></h4>
    <p class="card-text"><%= newspaper.cuerpo %></p>
    <a href="#" class="btn btn-primary">   <%= newspaper.link %></a>
   <% end %>
  </div> 
</div>

<div class="card" style="width:400px" id="<%= dom_id newspaper %>">
  <!--img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%"-->
  <div class="card-body">
   <% if newspaper.tipo == 5  %>
    <%= image_tag ("05politica.jpg") %>
    <h4 class="card-title"> <% newspaper.tipo %>  <%= newspaper.encabezado %></h4>
    <p class="card-text"><%= newspaper.cuerpo %></p>
    <a href="#" class="btn btn-primary">   <%= newspaper.link %></a>
   <% end %>
  </div> 
</div>

